/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

nav a:hover{
    background-color: #f1f1f1;
    color: #333;
}
header h1 {
    margin: 10px;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.banner {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.banner h2 {
    font-size: 40px;
}

.banner p{
    font-size: 20px;
}

.banner img{
    width: 100%;
    height:100%
}
.featured-products {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-products h2 {
    text-align: center;
    width: 100%;
    font-size: 35px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin-right: 10px;
}

img{
    width: 50px;
    height: 50px;
}

.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 300%;
    animation: carouselAnimation 50s infinite;
}

.carousel-slide img {
    width:400px;
    height: 100%;
    margin: 10px;
}

@keyframes carouselAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }

    100%{
        transform: translateX(-100%);
    }
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 400px;
}

.product button{
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover{
    background-color: #b8b8b8;
    color: #000000;
}

.product2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 20px;
    width: 350px;
}

.product2 img{
    width: 300px;
    height: 300px;
    border: 5px solid #000000;
}

.product2 button{
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product2 p{
    font-size: 20px;
}

.product2 h3{
    font-size: 30px;
}

.product2 button:hover{
    background-color: #b8b8b8;
    color: #000000;
}

.product img{
    width: 250px;
    height: 250px;
    border: 5px solid #000000;
}

.about{
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #f1f1f1;
    width: 100% - 10%;
}

.about h2{
    text-align: center;
    font-size: 50px;
}

.about p{
    text-align: justify;
    font-size: 30px;
    
}

.comments{
    margin: 20px;
    padding: 20px;
    width: 100% - 10%;
}

.comment{
    margin: 20px;
    padding: 20px;
    width: 100% - 10%;
    display: flex;
    background-image: linear-gradient(to right, #f1f1f1, #cfcfcf);
    border-radius: 10px;
}

.comment img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.comment p{
    font-size: 20px;
}

.qr_code{
    margin: 20px;
    padding: 20px;
    width: 100% - 10%;
    display: flex;
    justify-content: center;
}

.qr_code img{
    width: 200px;
    height: 200px;
}

.qr_code p{
    font-size: 30px;
}